<!-- One -->
<section id="one" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic-wip.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<span lang="en"><h2 style="color: #103b20; border: 1px black;">More info coming soon</h2></span>
			</header>
			<span lang="en"><p style="color: #103b20; border: 1px black">Like, in a couple of months</p></span>
		</div>
		<!-- <a href="#two" class="goto-next scrolly">Next</a> -->
	</div>
</section>