<!-- One -->
<section id="one" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2><span lang="ro">Asta ce-i?</span></h2>
			</header>
			<p><span lang="ro">Pe aceasta pagină o să gasiți toată informația relevantă pentru nuntă, cum ar fi:
				<ul>
					<li>"Cum să ajungem la locație?"</li>
					<li>"Ce să aducem?"</li>
					<li>"Câte ture de sarmale o să fie?*"</li>
				</ul>
			</span></p>
			<p style="font-size: 7px;"><span lang="ro">*toate turele</span></p>
		</div>
		<a href="#two" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Two -->
<section id="two" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2><span lang="ro">Ok, dar de ce să faci tot asta?</span></h2>
			</header>
			<p><span lang="ro">Există mai multe motive</span></p>
			<ul class="icons-grid">
				<li>
					<span class="icon major fa-camera-retro"></span>
					<h3><span lang="ro">De ce nu?</span></h3>
				</li>
				<li>
					<span class="icon major fa-pencil"></span>
					<h3><span lang="ro">Am avut o idee</span></h3>
				</li>
				<li>
					<span class="icon major fa-code"></span>
					<h3><span lang="ro">Când doi oameni se iubesc...</span></h3>
				</li>
				<li>
					<span class="icon major fa-coffee"></span>
					<h3><span lang="ro">Cu riscul de a ne repeta, "De ce nu?"</span></h3>
				</li>
			</ul>
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Three -->
<section id="three" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic03.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2><span lang="ro">Și încă ceva</span></h2>
			</header>
			<p><span lang="ro">Pe lângă toate cele enumerate mai sus, acest site v-a servi și drept un photo bin, unde vă încurajăm să încărcați poze făcute de DUMEAVOASTRĂ pe parcusul nunții.</span></p>
		</div>
	</div>
</section>